@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ingreso de datos</title>
</head>
<body>
    <div>
        <form method="post" action="/Home/MuestraConteo">
            <p>Texto a ingresar:</p>
            <textarea row="10" cols="120" name="texto" style="height: 150px"></textarea>
            <p><input type="submit" value="Confirmar" /></p>
        </form>
    </div>
</body>
</html>
